body{
  margin: 0;
}
#top-banner{
  height: 180px;
  width: auto;
  background-color: #EEEEEE;
}

#top-banner > img{
  margin-top: 30px;
  margin-left: 260px;
}

#top-menu{
  display: inline-block;
  height: 180px;
  margin-top: 70px;
  font-size: 0;

}

#top-menu > a{
  height: 180px;
  margin-left: 180px;
  font-size: 18px;
  font-family: sans-serif;
}

a#home{
  color: #FF9900;
  margin-left: 100px;
}

p.h1h2{
  display: block;
  margin-top: 0px;
  font-size: 0;
}

h1 {
  font-size: 72px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: sans-serif;
}

h2 {
  font-size: 38px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: sans-serif;
}

p.h5{
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.center-content-upper-all{
  background-color: #fdfdfd;

}

#center-content-upper-div{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 1300px;
}

#center-content-upper-left{
  display: inline-block;
  margin-top: 45px;
}

p.try-it-now{
  margin-left: 60px;
  font-family: sans-serif;
  font-size: 13px;
}

p.try-it-now img{
  border-radius: 6px;
}

#center-content-upper-right{
  margin-left: 120px;
  margin-top: 45px;
  width: 700px;
} 

.center-content-upper-right-img > img {
  width: 441px;
  height: 410px;

}

h2#a{
  font-family: sans-serif;
  font-size: 32px;
}

p#b{
  font-family: sans-serif;
  font-size: 18px;
}

p#c{
  font-family: sans-serif;
  font-size: 18px;
}

p#d{
  font-family: sans-serif;
  font-size: 18px;
}

h2#b{
  font-family: sans-serif;
  font-size: 32px;
  visibility: hidden;
}

p#e{
  font-family: sans-serif;
  font-size: 18px;
}

p#f{
  font-family: sans-serif;
  font-size: 18px;
}

p#g{
  font-family: sans-serif;
  font-size: 18px;
}

div#center-content-lower-content{
  display: flex;
}

div#center-content-lower-div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 180px;
  display: flex;
  width: 1300px;
  background-color: ffffff;
  margin-top: 45px;
}

div#center-content-lower-right{
  margin-left: 150px;
}

.bottom-content-all{
  height: 100px;
  background-color: #eeeeee;
  font-size: 0;
}

div.bottom-content-div{
  display: flex;
  width: auto;
}

p#copyright{
  font-size: 14px;
  font-family: sans-serif;
  padding-left: 270px;
  padding-top: 50px;
}

p#copyright{
  margin-top: 0px;
  margin-bottom: 0px;
}

div.bottom-content-icon{
  width: 800px;
  margin: 40px 10px auto auto;
}

p#icon > img{
  margin-left: 10px;
}
