body {
	margin: -8px;
	font-family: sans-serif;

}
header {
	background-color: #eeeeee
}
.container {
	margin-left: 320px;
	margin-right: 320px;
}
.nav {
	height: 200px;
	font-size: 24px;
	display: inline-block;
}
.imgsrc {
	line-height: 200px;
	width: 100px;
	display: inline-block;
}
.menu {
	float: right;
	height: 200px;
	line-height: 152px;
}
ul {
	list-style-type: none;
}
ul > li {
	display: inline-block;
	margin-left: 145px;
}
li > a {
	text-decoration: none;
	color: gray;
}
li a:hover {
	color: #f99d00;
}
.centerUpper-context {
	width: 530px;
	display: inline-block;
	margin-left: 70px;
	vertical-align: top;
}
.box {
	width: 512px;
	display: inline-block;
	margin-left: 160px;
	vertical-align: top;
}
.box > img {

}
.centerUpper-context > h1 {
	font-size: 90px;
	margin-bottom: 0;
	margin-top: 0;
}
.centerUpper-context > h2 {
	font-size: 42px;
	margin-bottom: 0;
	margin-top: 0;
}
.centerUpper-context > p {
	font-size: 24px;
	margin-top: 0;
}
.button {
	text-align: center;
}
.button > img {
	
}
.centerLower-contextLeft {
	width: 570px;
	display: inline-block;
}
.centerLower h2{
	font-size: 42px;
	margin-top: 200px;
}
.centerLower p {
	font-size: 24px;
}
.centerLower-contextRight {
	width: 570px;
	display: inline-block;
	float: right;
}
footer{
	background-color: #EEEEEE
}
.footerContext {
	height:100px;
}
.footerContextLeft {
	display: inline-block;
	height: 100px;
	line-height: 100px;
}
.footerContextRight {
	display: inline-block;
	float: right;
	height: 100px;
	line-height: 135px;
}
span > img {
	margin-left: 15px;
}
